:root {
  --first-color-hover-before: #6f85ff;
  --first-color-correct: #b4b4b4;

  --second-color-hover-before: #6f85ff;
  --second-color-correct: #b4b4b4;

  --color-incorrect: #b4b4b4;
  --color-hover: #6f85ff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  font-family: sans-serif;
}
.mini-game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mini-game__container {
  width: 894px;
  height: 894px;
  /* position: absolute; */
}
.mini-game__levels {
  position: absolute;
  /* background-color: #33333398; */
  width: 894px;
  height: 894px;
  top: 0;
}
.levels__first-level {
  position: absolute;
  background-color: aqua;
  height: 80px;
  width: 80px;
  top: 82px;
  right: 250px;
}
.levels__second-level {
  position: absolute;
  background-color: red;
  height: 80px;
  width: 80px;
  top: 174px;
  right: 442px;
}
.levels__third-level {
  position: absolute;
  background-color: green;
  height: 80px;
  width: 80px;
  top: 200px;
  right: 774px;
}

/* MODAL BEGIN */

.quiz {
  padding: 20px;
}
.quiz__question {
  font-size: 24px;
  padding-bottom: 20px;
}
.quiz__answers {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.answers {
  position: relative;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 30px;
  cursor: pointer;
}
#firstCorrect::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  border: solid 2px #777777;
  border-radius: 50px;
  background-color: var(--first-color-correct);
  top: 2px;
  left: 0;
}
#firstCorrect:hover::before {
  background-color: var(--first-color-hover-before);
}
#secondCorrect::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  border: solid 2px #777777;
  border-radius: 50px;
  background-color: var(--second-color-correct);
  top: 2px;
  left: 0;
}
#secondCorrect:hover::before {
  background-color: var(--second-color-hover-before);
}
.first-incorrect::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  border: solid 2px #777777;
  border-radius: 50px;
  background-color: var(--color-incorrect);
  top: 2px;
  left: 0;
}
.first-incorrect:hover::before {
  background-color: var(--color-hover);
}
.second-incorrect::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  border: solid 2px #777777;
  border-radius: 50px;
  background-color: var(--color-incorrect);
  top: 2px;
  left: 0;
}
.second-incorrect:hover::before {
  background-color: var(--color-hover);
}
.quiz__blocks {
  /* background-color: #777; */
}
.blocks__input-output {
  display: flex;
  justify-content: space-around;
}
.blocks__input,
.blocks__output {
  width: 45%;
  height: 50px;
  border: 1px solid #000;
  border-radius: 10px;
}
.blocks__output {
}
.blocks__devices {
  display: flex;
  justify-content: space-around;
  padding-top: 15px;
}
.device {
  padding: 5px;
  border: 1px solid #000;
  border-radius: 10px;
}
.check {
  margin-top: 15px;
}
.result {
  padding-top: 20px;
  font-size: 24px;
}

/* MODAL END */
