:root {
  --first-color-hover-before: #6f85ff;
  --first-color-correct: #b4b4b4;

  --second-color-hover-before: #6f85ff;
  --second-color-correct: #b4b4b4;

  --color-incorrect: #b4b4b4;
  --color-hover: #6f85ff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  font-family: sans-serif;
}
.money {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:#fff;
  width: 100px;
  height: 100px;
  background: linear-gradient(to bottom, rgb(0, 0, 0), #97979700);
  position: absolute;
  top: 0;
  right: 0;
}
.mini-game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.mini-game__container {
}
.mini-game__map {
  width: 100%;
}
.mini-game__levels {
  height: 0;
}
.levels__first-level {
  position: relative;
  background-color: aqua;
  height: 90px;
  width: 90px;
  top: -241px;
  left: 92px;
}

.levels__second-level {
  position: relative;
  background-color: red;
  height: 90px;
  width: 90px;
  top: -379px;
  right: -314px;
}
.levels__third-level {
  position: relative;
  background-color: green;
  height: 90px;
  width: 90px;
  top: -675px;
  left: 296px;
}
.levels__fourth-level {
  position: relative;
  background-color: #d400ff;
  height: 90px;
  width: 90px;
  top: -744px;
  left: 38px;
}
.levels__fifth-level {
  position: relative;
  background-color: #e5ff00;
  height: 90px;
  width: 90px;
  top: -1062px;
  left: 34px;
}
.levels__sixth-level {
  position: relative;
  background-color: #f700ff;
  height: 90px;
  width: 90px;
  top: -1182px;
  left: 368px;
}

/* MODAL BEGIN */

.quiz {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.quiz__question {
  font-size: 24px;
  padding: 5px;
}
.modal__video {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.video {
  width: 100%;
  height: 100%;
}
.quiz__answers {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.answers {
  position: relative;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 30px;
  cursor: pointer;
}
#firstCorrect::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  border: solid 2px #777777;
  border-radius: 50px;
  background-color: var(--first-color-correct);
  top: 2px;
  left: 0;
}
#firstCorrect:hover::before {
  background-color: var(--first-color-hover-before);
}
#secondCorrect::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  border: solid 2px #777777;
  border-radius: 50px;
  background-color: var(--second-color-correct);
  top: 2px;
  left: 0;
}
#secondCorrect:hover::before {
  background-color: var(--second-color-hover-before);
}
.first-incorrect::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  border: solid 2px #777777;
  border-radius: 50px;
  background-color: var(--color-incorrect);
  top: 2px;
  left: 0;
}
.first-incorrect:hover::before {
  background-color: var(--color-hover);
}
.second-incorrect::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  border: solid 2px #777777;
  border-radius: 50px;
  background-color: var(--color-incorrect);
  top: 2px;
  left: 0;
}
.second-incorrect:hover::before {
  background-color: var(--color-hover);
}
.my__modal-three {
  width: 60vw;
}
.blocks__input-output {
  display: flex;
  justify-content: space-around;
}
.blocks__input,
.blocks__output {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 49%;
  gap: 35px;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 5px;
  min-height: 50px;
  margin-top: 20px;
  transition: all 0.2s;
}
.blocks__input {
  position: relative;
}
.blocks__input::before {
  position: absolute;
  content: "Устройства ввода";
  top: -25px;
}
.blocks__output {
  position: relative;
}
.blocks__output::before {
  position: absolute;
  content: "Устройства вывода";
  white-space: nowrap;
  top: -25px;
}
.blocks__devices {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-around;
  padding-top: 15px;
}

.device {
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}

.blocks__peoples {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
}
.device__img,
.project,
.people {
  border: 1px solid #000;
  border-radius: 10px;
  padding: 5px;
  width: 100px;
}
.people {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: auto;
}
.blocks__projects {
  margin-top: 30px;
  flex-wrap: wrap;
  gap: 15px;
}
.project {
  text-align: center;
}
.people__img {
  width: 150px;
}
.blocks__projects {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.check {
  margin-top: 5px;
}
.result {
  padding: 20px 0;
  font-size: 24px;
}
.quiz__alphabet {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.quiz__input {
  width: 50%;
  align-self: center;
}
.final-level {
  position: relative;
  background-color: #00ff40;
  height: 90px;
  width: 90px;
  top: -1358px;
  left: 559px;
}
.my__modal-final {
  width: 80vw;
}
.shop,
.quiz__building-pc,
.build,
.bought-components {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 30px;
  border: #000 solid 1px;
  border-radius: 15px;
}
.shop {
  position: relative;
}
.shop__money-number{
  position: sticky;
  top: 0;
  left: 4vw;
}
.build-pc {
  display: flex;
}
.components-places {
  width: 0;
  height: 0;
}
.shop {
  overflow: scroll;
  height: 450px;
}
.quiz__building-pc {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.build,
.bought-components {
  height: 300px;
  /* width: 48%; */
}
.cpu-down,
.ram-down,
.gpu-down,
.rom-down,
.power-unit-down {
  display: flex;
}
.cpu-down {
  position: relative;
  content: "";
  background-color: #ff0000;
  width: 31px;
  height: 31px;
  top: 63px;
  right: -80px;
}
.ram-down {
  position: relative;
  content: "";
  background-color: #ffe600;
  width: 69px;
  height: 69px;
  top: 16px;
  right: -100px;
}
.gpu-down {
  position: relative;
  content: "";
  background-color: #1eff00;
  width: 109px;
  height: 63px;
  top: 13px;
  right: -22px;
}
.rom-down {
  position: relative;
  content: "";
  background-color: #0011ff;
  width: 67px;
  height: 65px;
  top: -17px;
  right: -137px;
}
.power-unit-down {
  position: relative;
  content: "";
  background-color: #00fff2;
  width: 67px;
  height: 42px;
  top: -20px;
  right: -23px;
}
.build {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* width: 80%; */
}
.build__img {
  height: 275px;
}
.build,
.bought-components {
  overflow: scroll;
  overflow-y: scroll;
  display: flex;
  align-items: center;
} 
.bought-components{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.component__img {
  width: 100px;
}
.start-pc {
  margin-bottom: 15px;
}
.mobile {
  display: none;
}
.hidden {
  display: none;
}
.shop__cpu,
.shop__ram,
.shop__power-unit,
.shop__gpu,
.shop__rom {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
.shop__cpu {
  margin-top: -20px;
}
.shop__cpu::before,
.shop__ram::before,
.shop__power-unit::before,
.shop__gpu::before,
.shop__rom::before {
  position: absolute;
  content: "Процессоры";
  top: -18px;
}
.shop__ram::before {
  content: "Оперативная память";
}
.shop__power-unit::before {
  content: "Блоки питания";
}
.shop__gpu::before {
  content: "Видеокарты";
}
.shop__rom::before {
  content: "Накопители";
}
.components {
}
.shop__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding: 25px;
  height: 250px;
  border: #000 solid 1px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.shop__img {
  width: 150px;
}
.pay {
  width: 100%;
  height: 25px;
  border: none;
  background-color: #54b2ff;
  margin-top: -1px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.quiz__input {
  text-transform: lowercase;
}
.check {
  font-size: 18px;
  border: #2b40b8 solid 2px;
  border-radius: 15px;
  background-color: #6f85ff;
  color: #fff;
  width: 150px;
  height: 50px;
  transition: all 0.2s;
  align-self: center;
}
.check:hover {
  background-color: #2b40b8;
}

/* MODAL END */

/* MEDIA BEGIN */

@media screen and (max-width: 1055px) {
  .my__modal-three {
    width: 80vw;
  }
}
@media screen and (max-width: 895px) {
  .levels__first-level {
    position: absolute;
    height: 10vw;
    width: 10vw;
    top: 73vw;
    left: 10vw;
  }
  .levels__second-level {
    position: absolute;
    height: 10vw;
    width: 10vw;
    top: 68vw;
    right: 55vw;
  }
  .levels__third-level {
    position: absolute;
    height: 10vw;
    width: 10vw;
    top: 45vw;
    left: 33vw;
  }
  .levels__fourth-level {
    position: absolute;
    height: 10vw;
    width: 10vw;
    top: 47vw;
    left: 4vw;
  }
  .levels__fifth-level {
    position: absolute;
    height: 10vw;
    width: 10vw;
    top: 22vw;
    left: 4vw;
  }
  .levels__sixth-level {
    position: absolute;
    background-color: #f700ff;
    height: 10vw;
    width: 10vw;
    top: 19vw;
    left: 41vw;
  }
  .final-level {
    position: absolute;
    height: 10vw;
    width: 10vw;
    top: 9vw;
    left: 63vw;
  }
  .mobile {
    display: block;
  }
  .pc {
    display: none;
  }
}
@media screen and (max-width: 640px) {
  .my__modal-final {
    width: 100vw;
  }
  .quiz__building-pc {
    flex-direction: column;
  }
  /* .build__img {
    height: 250px;
  } */
  /* .cpu-down {
    position: relative;
    top: -241px;
    right: 30px;
  } */
}
@media screen and (max-width: 467px) {
  .my__modal-three {
    width: 100vw;
  }
}
@media screen and (max-width: 393px) {
  .people__img {
    width: 100px;
  }
}
/* MEDIA END */
